<div class="d-flex justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="text-danger text-center">
                <strong>
                    <?= Lang::str("This ticket belongs to another resource!") ?>
                </strong>
            </div>
            <?= $_form ?>
            <div class="text-center">
                <a href="dashBoard" class="btn btn-secondary"><?= Lang::str("Go back") ?></a>
            </div>
        </div>
    </div>
