<div class="card">
    <h2 class="card-title">
        <?= Lang::str("Tickets") ?>
    </h2>
    <div class="row">
        <div class="col">
            <div class="btn-group hidden-md-and-down" role="group">
                <?php foreach ($ticket_statuses as $key => $st) : ?>
                    <a href="tickets/<?= $key ?>"
                       class="btn <?= ($URL_params[0] == $key ? "btn-primary" : "") ?>"
                       type = "button">
                           <?= Lang::str($st); ?>
                           <?php if (key_exists($key, $counts)): ?>
                            <span class="badge badge-secondary badge-pill"><?= $counts[$key] ?></span>
                        <?php endif; ?>
                    </a>
                <?php endforeach;
                ?>
            </div>
            <div class="dropdown hidden-lg-and-up">
                <button class="btn" data-toggle="dropdown" type="button" aria-haspopup="true" aria-expanded="false">
                    <?php foreach ($ticket_statuses as $key => $st) : ?>
                        <?php
                        if ($URL_params[0] != $key)
                            continue;
                        ?>
                        <?= Lang::str($st); ?>
                    <?php endforeach; ?>
                    <i class="fa fa-angle-down ml-5" aria-hidden="true"></i> <!-- ml-5 = margin-left: 0.5rem (5px) -->
                </button>
                <div class="dropdown-menu" >
                    <?php foreach ($ticket_statuses as $key => $st) : ?>
                        <a href="tickets/<?= $key ?>"
                           class="dropdown-item <?= ($URL_params[0] == $key ? "selected" : "") ?>"
                           type = "button">
                               <?= Lang::str($st); ?>
                               <?php if (key_exists($key, $counts)): ?>
                                <span class="badge badge-secondary badge-pill"><?= $counts[$key] ?></span>
                            <?php endif; ?>
                        </a>
                    <?php endforeach; ?>
                </div>
            </div>

        </div>
        <div class = "col-auto">
            <form method = "POST" action = "tickets/select-resource">
                <input type = "hidden" name = "csrf" value = "<?= $csrf ?>" />
                <div class = "input-group">
                    <div class = "input-group-prepend">
                        <span class = "input-group-text">
                            <i class = "fas fa-globe-europe" aria-hidden = "true"></i>
                        </span>
                        <select name = "new_res" class = "form-control d-flex justify-content-right"
                                onchange = "this.form.submit()">
                                    <?php foreach ($resources as $res) :
                                        ?>
                                <option value="<?= $res['res_id'] ?>"
                                        <?= ($selected_resource == $res['res_id'] ? " selected " : "") ?>>
                                            <?= $res['res_name'] ?>
                                </option>
                            <?php endforeach; ?>
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <?php if ($URL_params[0] == "custom"): ?>
        <div class="card">
            <h2 class="card-title">
                <?= Lang::str("Tickets search") ?>
            </h2>
            <?= $_search ?>
        </div>
    <?php endif; ?>

    <div class = "table-responsive">
        <table class = "table">
            <thead>
                <tr>
                    <th><? = Lang::str("Subject")
                        ?></th>
                    <th><?= Lang::str("Status") ?></th>
                    <th><?= Lang::str("Supporter") ?></th>
                    <th><?= Lang::str("Type") ?></th>
                    <th><?= Lang::str("Username") ?></th>
                    <th class="hidden-md-and-down"><?= Lang::str("Created") ?></th>
                    <th class="hidden-md-and-down"><?= Lang::str("Last post") ?></th>
                    <th class="hidden-md-and-down"><?= Lang::str("Opened") ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($tickets as $ticket) : ?>
                    <?php $is_admin_for_this_user = false; ?>
                    <tr class="
                    <?php if (in_array($URL_params[0], array("open", "all_open", "pending", "waiting"))) : ?>
                        <?php if (strtotime($ticket['ticket_open_post_time']) + 60 * 60 * 48 < time()): ?>
                                table-danger
                            <?php elseif (strtotime($ticket['ticket_open_post_time']) + 60 * 60 * 24 < time()): ?>
                                table-secondary
                            <?php endif; ?>
                        <?php endif; ?>
                        ">
                        <th>
                            <span class="badge <?php if ($ticket['ticket_level'] == 2): ?>
                                      badge-primary
                                  <?php elseif (($ticket['ticket_level'] == 3)): ?>
                                      badge-success
                                  <?php elseif (($ticket['ticket_level'] == 4)): ?>
                                      badge-secondary
                                  <?php elseif (($ticket['ticket_level'] == 5)): ?>
                                      badge-danger
                                  <?php endif; ?>"
                                  data-toggle="tooltip" data-title="Ticket level <?= $ticket['ticket_level'] ?>" data-placement="right"
                                  ><?= $ticket['ticket_level'] ?></span>
                            <a href="tickets/<?= $ticket['ticket_id'] ?>">
                                <?= $ticket['ticket_subject'] ?>
                            </a>
                        </th>
                        <td><span class="badge <?php if ($ticket['ticket_status'] == 'answered'): ?>
                                      badge-primary
                                  <?php elseif (in_array($ticket['ticket_status'], array('closed', "archived"))): ?>
                                      badge-success
                                  <?php elseif (in_array($ticket['ticket_status'], array('pending', "warning"))): ?>
                                      badge-secondary
                                  <?php elseif (($ticket['ticket_status'] == 'open')): ?>
                                      badge-danger
                                  <?php endif; ?>"
                                  ><?= $ticket['ticket_status'] ?></span></td>
                        <td>
                            <?= ($ticket['admin_avatar'] != null ? "<img style=\"max-height: 20px\" src=\"" . $ticket['admin_avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "none" ) ?>
                            <?= $ticket['admin_name'] ?>
                        </td>

                        <td><?= $ticket['type_name'] ?></td>
                        <td><span class="badge <?php if (time() - strtotime($ticket['timestamp_registered']) < 60 * 60 * 24): ?>
                                      badge-primary
                                  <?php elseif (time() - strtotime($ticket['timestamp_registered']) < 60 * 60 * 24 * 7): ?>
                                      badge-success
                                  <?php elseif (time() - strtotime($ticket['timestamp_registered']) < 60 * 60 * 24 * 7 * 30): ?>
                                      badge-secondary
                                  <?php elseif (time() - strtotime($ticket['timestamp_registered']) < 60 * 60 * 24 * 365): ?>
                                      badge-danger
                                  <?php endif; ?>"
                                  data-toggle="tooltip" data-title="Registered <?= StringUtils::time_ago($ticket['timestamp_registered']) ?>" data-placement="right"
                                  ><?= StringUtils::time_ago($ticket['timestamp_registered'], true) ?></span>
                                  <?= $ticket['login_name'] ?>
                        </td>
                        <td class="hidden-md-and-down"><?= $ticket['ticket_first_post_time'] ?></td>
                        <td class="hidden-md-and-down"><?= $ticket['ticket_last_post_time'] ?></td>
                        <td class="hidden-md-and-down"><?= $ticket['ticket_open_post_time'] ?></td>


                    </tr>
                <?php endforeach; ?>
            </tbody>

        </table>
    </div>
</div>

