<div class="content">
    <h2 class="content-title">
        <?= Lang::str("Ticket") ?> - <?= $ticket['ticket_subject'] ?>
    </h2>
    <div class="row row-eq-spacing">
        <div class="col">
            <?= $_ticket_properties ?>
        </div>
        <div class="col-md-3">
            <div class="float-right">
                <div class="btn-group" role="group">
                    <a href="tickets/<?= $URL_params[0] ?>/self_asign" class="btn" type="button" data-toggle="tooltip"
                       data-title="<?= Lang::str("Self assign") ?>">
                        <i class="fas fa-user-alt"></i>
                    </a>
                    <?php if ($ticket['ticket_can_be_closed_by_user']): ?>
                        <a href = "tickets/<?= $URL_params[0] ?>/prevent_close" class="btn text-success" type = "button" data-toggle = "tooltip"
                           data-title = "<?= Lang::str("Ticket can be closed by user. CLICK to change it.") ?>">
                            <i class="fas fa-lock-open"></i>
                        </a>
                    <?php else: ?>
                        <a href = "tickets/<?= $URL_params[0] ?>/allow_close" class="btn text-danger" type = "button" data-toggle = "tooltip"
                           data-title = "<?= Lang::str("Ticket can NOT be closed by user. CLICK to change it.") ?>">
                            <i class="fas fa-lock"></i>
                        </a>
                    <?php endif; ?>
                    <button class = "btn <?= ($ticket['ticket_snooze_until'] ? " text-success " : "") ?>"
                            type = "button" data-toggle = "tooltip"
                            data-title = "
                            <?=
                            ($ticket['ticket_snooze_until'] ? Lang::str("Snoozed until ") .
                                    $ticket['ticket_snooze_until'] :
                                    Lang::str("Snooze ticket")
                            )
                            ?>"
                            onclick = "snooze_ticket(this)">
                        <i class = "far fa-bell-slash"></i>
                    </button>
                    <?php if ($ticket['ticket_level'] != 4): ?>
                        <button class = "btn" type = "button" data-toggle = "tooltip"
                                data-title = "<?= Lang::str("Delegate to head") ?>"
                                onclick = "delegate(this, 'head')">
                            <i class = "fas fa-bullhorn"></i>
                        </button>
                    <?php endif; ?>
                    <button class = "btn" type = "button" data-toggle = "tooltip"
                            data-title = "<?= Lang::str("Delegate to development") ?>"
                            onclick = "delegate(this, 'dev')">
                        <i class = "fab fa-dev"></i>
                    </button>

                </div>
            </div>
        </div>
    </div>
    <div class = "row">


        <div class = "col order-md-5 ">
            <div class = "card">
                <?= $_reply_form ?>
                <br>
            </div>
            <div class="card">
                <?php foreach ($replyes as $key_msg => $msg) : ?>
                    <?php
                    if ($msg['msg_type'] == "user") {
                        $color = "";
                        $head_text = Lang::str("Message from user:");
                    } else if ($msg['msg_type'] == "admin") {
                        $color = "success";
                        $head_text = $msg['login_name'] . " " . Lang::str("replied:");
                    } else {
                        $color = "secondary";
                        $head_text = $msg['login_name'] . " " . Lang::str("added note:");
                    }
                    ?>
                    <div class="alert alert-<?= $color ?> text-light-dm my-10" role="alert">
                        <?php if ($msg['msg_type'] != "user"): ?>
                            <div class="position-relative"> <!-- position-relative = position: relative -->
                                <div class="position-absolute bottom-sm-auto top-sm-0 right-0"> <!-- position-absolute = position: absolute, bottom-0 = bottom: 0, bottom-sm-auto = bottom: auto only on small screens and up (> 576px), top-sm-0 = top: 0 only on small screens and up (> 576px), right-0 = right: 0 -->
                                    <img data-toggle="dropdown" style="max-height: 40px" src="<?= $msg['avatar'] ?>" class="img-fluid rounded-circle " alt="avatar">
                                </div>
                            </div>
                        <?php endif; ?>
                        <div class="row">
                            <div class="col-md-2 "style="font-size: 1rem;">
                                <p><?= $msg['msg_created'] ?></p>
                                <p style="font-size: 1.2rem;"><?= StringUtils::time_ago($msg['msg_created']) ?></p>
                                <?php if (($right['view_ip'] && $msg['msg_type'] == "user") || $right['view_admin_ip']):
                                    ?>
                                    <div class="dropdown dropup with-arrow toggle-on-hover">
                                        <?= $msg['msg_ip'] ?>
                                        <div class="dropdown-menu dropdown-menu-up">
                                            <strong>
                                                <?= Lang::str("Browser") ?>
                                            </strong>: <?= $msg['msg_browser'] ?>
                                        </div>
                                    </div>

                                <?php endif; ?>
                                <?php if ($right['view_who_read']):
                                    ?>
                                    <p>
                                        <?php foreach ($msg['seen_by'] as $usr): ?>

                                        <div class="dropdown dropup with-arrow toggle-on-hover">
                                            <img data-toggle="dropdown" style="max-height: 20px" src="<?= $usr['avatar'] ?>" class="img-fluid rounded-circle " alt="avatar">
                                            <div class="dropdown-menu dropdown-menu-up">
                                                Last seen by <?= $usr['login_name'] ?> (<?= $usr['nickname'] ?>)<br>
                                                <?= StringUtils::time_ago($usr['who_time']) ?>
                                                <small>(<?= $usr['who_time'] ?>)</small>
                                            </div>
                                        </div>
                                    <?php endforeach; ?>
                                    </p>
                                <?php endif; ?>
                            </div>
                            <div class="col-md-9 offset-1">
                                <h4 class="alert-heading"><?= $head_text ?></h4>
                                <p><?=
                                    ($msg['msg_type'] == "user" ?
                                            str_replace("\n", "<br>", $msg['msg_text']) : $_replyes[$key_msg]['msg_text'])
                                    ?></p></div>
                        </div>

                    </div>
                <?php endforeach; ?>
            </div>
        </div>
        <div class = "col-md-3 order-1">
            <div class="card">
                <h2 class="card-title">
                    <?= Lang::str("Ticket informations") ?>
                </h2>
                <div class="table-responsive">
                    <table class="table table-no-outer-padding font-size-12 table-hover">
                        <tbody>
                            <?php foreach ($ticket as $key => $value) : ?>
                                <?php
                                if (!in_array($key, $ticket_vissible)) {
                                    continue;
                                }
                                ?>
                                <tr>
                                    <td><?= Lang::str($key) ?>:</td>
                                    <td><?= $value ?></td>
                                </tr>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card">
                <h2 class="card-title">
                    <?= Lang::str("Ticket comment") ?>
                </h2>
                <?= $_comment_form ?>
                <br>
            </div>
            <div class="card">
                <h2 class="card-title">
                    <?= Lang::str("User tickets") ?>
                </h2>
                <div style="
                     max-height: 300px;
                     overflow-y: auto;
                     ">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tbody>
                                <?php foreach ($another_tickets as $tck): ?>
                                    <tr><td>
                                            <span class="badge <?php if ($tck['ticket_level'] == 2): ?>
                                                      badge-primary
                                                  <?php elseif (($tck['ticket_level'] == 3)): ?>
                                                      badge-success
                                                  <?php elseif (($tck['ticket_level'] == 4)): ?>
                                                      badge-secondary
                                                  <?php elseif (($tck['ticket_level'] == 5)): ?>
                                                      badge-danger
                                                  <?php endif; ?>"
                                                  data-toggle="tooltip" data-title="Ticket level <?= $tck['ticket_level'] ?>" data-placement="right"
                                                  ><?= $tck['ticket_level'] ?></span>
                                            <a href="tickets/<?= $tck['ticket_id'] ?>">
                                                <?= $tck['ticket_subject'] ?>
                                            </a>

                                            <span class="float-right badge <?php if ($tck['ticket_status'] == 'answered'): ?>
                                                      badge-primary
                                                  <?php elseif (in_array($tck['ticket_status'], array('closed', "archived"))): ?>
                                                      badge-success
                                                  <?php elseif (in_array($tck['ticket_status'], array('pending', "warning"))): ?>
                                                      badge-secondary
                                                  <?php elseif (($tck['ticket_status'] == 'open')): ?>
                                                      badge-danger
                                                  <?php endif; ?>"
                                                  ><?= $tck['ticket_status'] ?></span>
                                            <br>
                                            <?= $tck['res_name'] ?> - <?= $tck['type_name'] ?>
                                            <br><?= StringUtils::time_ago($tck['ticket_first_post_time']) ?>
                                            <span class="float-right">
                                                <?= ($tck['admin_avatar'] != null ? "<img style=\"max-height: 20px\" src=\"" . $tck['admin_avatar'] . "\"
                                                                                        class=\"rounded-circle\" alt=\"Avatar\">" : "none" ) ?>
                                                <?= $tck['admin_name'] ?>
                                            </span>
                                        </td>
                                    </tr>
                                <?php endforeach;
                                ?>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--
                <div class = "col-md-3 order-md-11">
                    <div class = "card">
                        Preset reply
                    </div>
                </div>
        -->
    </div>
</div>
<link rel="stylesheet" href="css/jodit.min.css">
<script src="js/jodit.min.js"></script>
<script>
                                var editor = new Jodit("textarea[id=message]");
                                var test;
                                function change(e, type) {
                                    test = e;
                                    var pro = document.createElement("input")
                                    pro.name = "change"
                                    pro.type = "hidden"
                                    if (type === 'resource') {
                                        pro.value = "resource"
                                    } else if (type === 'type') {
                                        pro.value = "type"
                                    } else if (type === 'level') {
                                        pro.value = "level"
                                    } else if (type === 'status') {
                                        pro.value = "status"
                                    }
                                    e.form.append(pro)
                                    e.form.submit()
                                }

                                function delegate(e, type) {
                                    test = e;
                                    halfmoon.toggleModal("ticket_properties")
                                    var title = document.getElementById("modal-title");
                                    var pro = document.createElement("input")

                                    pro.name = "change"
                                    pro.type = "hidden"
                                    var admin = document.createElement("input")
                                    admin.name = "admin"
                                    admin.type = "hidden"

                                    if (type === 'dev') {
                                        pro.value = "dev"
                                        title.innerHTML = "<?= Lang::str("Delegate to development") ?>";
                                        admin.value = -1;
                                    } else if (type === 'head') {
                                        pro.value = "head"
                                        title.innerHTML = "<?= Lang::str("Delegate to head") ?>";
                                        admin.value = -1;
                                    } else if (type === 'admin') {
                                        pro.value = "admin"
                                        title.innerHTML = "<?= Lang::str("Delegate to supporter") ?>";
                                        title.append(" - " + test.selectedOptions[0].text);
                                        admin.value = test.selectedOptions[0].value
                                    }

                                    title.parentElement.append(pro)
                                    title.parentElement.append(admin)
                                }

                                function snooze_ticket(e) {
                                    halfmoon.toggleModal('ticket_snooze')
                                }



</script>

<div class="modal" id="ticket_properties" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a onclick="halfmoon.toggleModal('ticket_properties')" class="close" role="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
            <form method="POST" action="tickets/<?= $URL_params[0] ?>/delegate" >
                <h5 id="modal-title" class="modal-title">Modal title</h5>
                <p id="modal-text">
                    <input type="hidden" name="csrf" id="csrf" value="<?= $csrf ?>">
                    <textarea class="form-control" id="comment" name="comment"
                              placeholder="Add delegation note to ticket"></textarea>
                </p>
                <div id="buttons" class="text-right mt-20">
                    <input type="submit"class="btn btn-primary float-right" role="button" value="<?= Lang::str("Delegate"); ?>" />

                    <a onclick="halfmoon.toggleModal('ticket_properties')" class="btn mr-5" role="button"><?= Lang::str("Close"); ?></a>

                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="ticket_snooze" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a onclick="halfmoon.toggleModal('ticket_snooze')" class="close" role="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
            <?php if (!$ticket['ticket_snooze_until']): ?>
                <form method="POST" action="tickets/<?= $URL_params[0] ?>/snooze" >
                    <h5 class="modal-title">Snooze ticket</h5>

                    <p>
                        <?= Lang::str("A snoozed ticket is moved to Pending for a set amount of time, and then automatically returns to open. You can use this to temporarily move a ticket out of the way that you'll need to come back to later."); ?>
                    </p>
                    <p><input type="hidden" name="csrf" id="csrf" value="<?= $csrf ?>">
                        <select name="snooze" class="form-control">
                            <option value="3600">1 hour</option>
                            <option value="10800">3 hours</option>
                            <option value="24600">6 hours</option>
                            <option value="86400">1 day</option>
                            <option value="172800">2 days</option>
                            <option value="259200">3 days</option>
                            <option value="345600">4 days</option>
                            <option value="432000">5 days</option>
                        </select>
                    </p>
                <?php else: ?>
                    <?=
                    Lang::str("Ticket snoozed until ") .
                    $ticket['ticket_snooze_until']
                    ?>
                <?php endif; ?>
                <div id="buttons" class="text-right mt-20">
                    <?php if (!$ticket['ticket_snooze_until']): ?>
                        <input type="submit"class="btn btn-primary float-right" role="button" value="<?= Lang::str("Snooze"); ?>" />
                    <?php else: ?>
                        <a href="tickets/<?= $URL_params[0] ?>/unsnooze" class="btn">
                            <?= Lang::str("Unsnooze ticket") ?>
                        </a>
                    <?php endif; ?>
                    <a onclick="halfmoon.toggleModal('ticket_snooze')" class="btn mr-5" role="button"><?= Lang::str("Close"); ?></a>
                </div>
            </form>
        </div>
    </div>
</div>