<div class="card">
    <h2 class="card-title">
        <?= Lang::str("DashBoard") ?>
    </h2>
    <div class = "row">
        <?php foreach ($resources as $category): ?>
            <div class = "col">
                <details class = "collapse-panel w-350 mw-full mt-20" open> <!--w-400 = width: 40rem (400px), mw-full = max-width: 100%, mt-20 = margin-top: 2rem (20px) -->
                    <summary class = "collapse-header">
                        <?= $category[0]['group_name'] ?>
                    </summary>
                    <div class = "collapse-content">
                        <table class="table table-no-outer-padding">
                            <tbody>
                                <?php foreach ($category as $res) : ?>
                                    <tr>
                                        <td>
                                            <a href="tickets/select-resource/<?= $res['res_id'] ?>">
                                                <?= $res['res_name'] ?>
                                            </a>
                                            <?php if ($res['counts']['my_open']) : ?>
                                                <span class="badge badge-secondary  float-right mx-5">
                                                    <strong><?= $res['counts']['my_open']; ?></strong>  <?= Lang::str("assigned") ?>
                                                </span>
                                            <?php endif; ?>
                                            <?php if ($res['counts']['open']) : ?>
                                                <span class="badge badge-success float-right mx-5">
                                                    <strong><?= $res['counts']['all_open']; ?></strong>  <?= Lang::str("open") ?>
                                                </span>
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                            </tbody>
                        </table>
                    </div>
                </details>
            </div>
        <?php endforeach; ?>
    </div>
</div>