<div class="card">
    <?= $_new_issue_form ?>
    <h2 class="card-title">
        <?= Lang::str("Issues") ?>
    </h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th><?= Lang::str("Name") ?></th>
                    <th class="hidden-md-and-down"><?= Lang::str("Created") ?></th>
                    <th><?= Lang::str("Created by") ?></th>
                    <th class="hidden-md-and-down"><?= Lang::str("Enabled from") ?></th>
                    <th class="hidden-md-and-down"><?= Lang::str("Enabled to") ?></th>
                    <th><?= Lang::str("Resource") ?></th>
                    <th><?= Lang::str("Types") ?></th>

                </tr>
            </thead>
            <tbody>
                <?php foreach ($issues as $usr) : ?>
                    <tr>
                        <th><a href="issues/<?= $usr['issue_id'] ?>"><?= $usr['issue_name'] ?></a></th>
                        <td class="hidden-md-and-down"><?= $usr['issue_created'] ?></td>
                        <td>
                            <?= ($usr['avatar'] != null ? "<img style=\"max-height: 20px\" src=\"" . $usr['avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "" ) ?>
                            <a href="admin/<?= $usr['user_internal_id'] ?>">
                                <?= $usr['login_name'] ?>
                            </a>
                        </td>
                        <td class="hidden-md-and-down"><?= $usr['issue_enabled_from'] ?></td>
                        <td class="hidden-md-and-down"><?= $usr['issue_enable_to'] ?></td>
                        <td><?= $usr['res_name'] ?></td>
                        <td><?= $usr['issues_types'] ?></td>


                    </tr>
                <?php endforeach; ?>
            </tbody>

        </table>
    </div>
</div>
