
<div class="content">
    <a href="issues" class="btn btn-secondary btn-sm"><?= Lang::str("Go back"); ?></a>
    <h2 class="content-title">
        <?= Lang::str("Issue view") ?>
    </h2>
    <div class="row">
        <div class="card">
            <h2 class="card-title">
                <?= Lang::str("Edit") ?>
            </h2>
            <form method="POST">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <?php foreach ($issue as $key => $value) : ?>
                    <?php if (in_array($key, $vissible) || $vissible == null) : ?>
                        <div class="form-group">
                            <label for="<?= $key ?>"
                                   class="<?php if (in_array($key, $universal_params['editable'])) : ?>
                                       required
                                   <?php endif; ?>
                                   "><?= $key ?></label>
                            <input type="text" required class="form-control" id="<?= $key ?>" name="<?= $key ?>"
                                   value="<?= $value ?>"
                                   <?php if (!in_array($key, $universal_params['editable'])) : ?>
                                       readonly
                                   <?php endif; ?>
                                   />
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
                <?php if (count($universal_params['editable']) > 0): ?>
                    <input type="submit" class="btn btn-success" value="<?= Lang::str("Save") ?>" />
                <?php endif; ?>
            </form>
        </div>
        <div class="card">
            <h2 class="card-title">
                <?= Lang::str("Assigned types") ?>
            </h2>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <?php
                        $assigned_types = json_decode($_issue['issues_types'], true);
                        ?>
                        <?php foreach ($assigned_types as $value) : ?>
                            <tr>
                                <td>
                                    <?= $value ?>
                                </td>
                                <td><a href="issues/<?= $URL_params[0] ?>/remove_type/<?= $value ?>"
                                       class="btn btn-sm btn-danger">
                                           <?= Lang::str("Remove"); ?>
                                    </a></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            <br>
            <?= $_form_new_type ?>
            <br>
            <span class="badge badge-secondary">
                <?= Lang::str("Plase note that only one translation can be for each langueage") ?>
            </span>
            <?= $_form_new_lang ?>
        </div>

        <?php foreach ($texts as $value) : ?>
            <div class="card">
                <h2 class="card-title">
                    <?= Lang::str("Text") ?>
                </h2>
                <?= $value->renderAll(); ?>
            </div>
        <?php endforeach; ?>

    </div>
