
<div class="content">
    <h2 class="content-title">
        <?= Lang::str("Resource view") ?>
    </h2>
    <div class="row">
        <div class="card">
            <h2 class="card-title">
                <?= Lang::str("Edit"); ?>
            </h2>
            <form method="POST">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <?php foreach ($resource as $key => $value) : ?>
                    <?php if (in_array($key, $vissible) || $vissible == null) : ?>
                        <div class="form-group">
                            <label for="<?= $key ?>"
                                   class="<?php if (in_array($key, $universal_params['editable'])) : ?>
                                       required
                                   <?php endif; ?>
                                   "><?= $key ?></label>
                            <input type="text" required class="form-control" id="<?= $key ?>" name="<?= $key ?>"
                                   value="<?= $value ?>"
                                   <?php if (!in_array($key, $universal_params['editable'])) : ?>
                                       readonly
                                   <?php endif; ?>
                                   />
                        </div>
                    <?php endif; ?>
                <?php endforeach; ?>
                <?php if (count($universal_params['editable']) > 0): ?>
                    <input type="submit" class="btn btn-success" value="<?= Lang::str("Save") ?>" />
                <?php endif; ?>
            </form>
        </div>
        <div class="card">
            <h2 class="card-title">
                <?= Lang::str("Ticket types"); ?>
            </h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <tbody>
                        <?php foreach ($types as $type) : ?>
                            <tr class="
                            <?php if ($type['type_vissible']): ?>
                                    table-success
                                <?php else: ?>
                                    table-danger
                                <?php endif; ?>
                                ">
                                <td><a href="types/<?= $type['type_id'] ?>">
                                        <?= $type['type_name'] ?>
                                    </a>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
            <br/>
            <h2 class="card-title">
                <?= lang::str("Create new type"); ?>
            </h2>
            <form class="form" method="POST"
                  action="types/new">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <?php foreach (array("type_name", "type_code") as $field): ?>
                    <label class="required" for="<?= $field ?>"><?= Lang::str($field) ?></label>
                    <input type="text" class="form-control" name="<?= $field ?>" required="required">
                <?php endforeach; ?>
                <input type="hidden" name="resource_id" value="<?= $URL_params[0] ?>" />
                <input type="submit" class="btn btn-success btn-sm" value="<?= Lang::str("Create") ?>">
            </form>

        </div>

        <div class="card">
            <h2 class="card-title">
                <i class="far fa-object-group"></i>
                <?= Lang::str("Group"); ?>

            </h2>
            <div class="table-responsive">
                <table class="table table-hover">

                    <tbody>
                        <?php if (count($group) == 0) : ?>
                        <span class="badge"><?= Lang::str("Resource has not any group") ?></span>
                    <?php else: ?>
                        <?php foreach ($group as $dep) : ?>
                            <tr>
                                <td>
                                    <strong><?= $dep['group_name'] ?></strong>
                                    <small>(<?= $dep['group_code'] ?>)</small>
                                    <?php $assigned_group[] = $dep['group_code']; ?>

                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="card-title"><?= Lang::str("Change group"); ?></h3>
            <form method="POST" action="resources/<?= $URL_params[0] ?>/change_group">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <label ><?= Lang::str("Select group"); ?></label>
                <select class="form-control" required name="group">
                    <option selected disabled readonly><?= lang::str("Select"); ?></option>
                    <?php foreach ($groups as $dep) : ?>
                        <?php if (in_array($dep['group_code'], $assigned_group)) continue; ?>
                        <option value="<?= $dep['group_id'] ?>"><?= $dep['group_name'] ?> (<?= $dep['group_code'] ?>)</option>
                    <?php endforeach; ?>
                </select>
                <input type="submit" class="btn btn-sm btn-success" value="<?= Lang::str("Change") ?>" />
            </form>
        </div><div class="card">
            <h2 class="card-title">
                <i class="fas fa-sliders-h"></i>
                <?= Lang::str("Departments"); ?>

            </h2>
            <div class="table-responsive">
                <table class="table table-hover">

                    <tbody>
                        <?php if (count($assigned_departments) == 0) : ?>
                        <span class="badge"><?= Lang::str("Resource is not in any department") ?></span>
                    <?php else: ?>
                        <?php foreach ($assigned_departments as $dep) : ?>
                            <tr>
                                <td>
                                    <strong><?= $dep['department_name'] ?></strong>
                                    <small>(<?= $dep['department_code'] ?>)</small>
                                    <?php $assigned_departements[] = $dep['department_code']; ?>

                                </td>
                                <td>
                                    <small>
                                        <a href="resources/<?= $URL_params[0] ?>/remove_departement/<?= $dep['department_id'] ?>"
                                           class="btn btn-sm btn-danger"><?= Lang::str("Remove"); ?></a>
                                    </small>
                                </td>
                            </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                    </tbody>
                </table>
            </div>
            <br>
            <h3 class="card-title"><?= Lang::str("Add department"); ?></h3>
            <form method="POST" action="resources/<?= $URL_params[0] ?>/add_departement">
                <input type="hidden" name="csrf" value="<?= $csrf ?>" />
                <label ><?= Lang::str("Select departments"); ?></label>
                <select class="form-control" required name="departments">
                    <option selected disabled readonly><?= lang::str("Select"); ?></option>
                    <?php foreach ($departments as $dep) : ?>
                        <?php if (in_array($dep['department_code'], $assigned_departements)) continue; ?>
                        <option value="<?= $dep['department_id'] ?>"><?= $dep['department_name'] ?> (<?= $dep['department_code'] ?>)</option>
                    <?php endforeach; ?>
                </select>
                <input type="submit" class="btn btn-sm btn-success" value="<?= Lang::str("Asssign") ?>" />
            </form>
        </div>
    </div>

</div>
