<div class="card">
    <h2 class="card-title">
        <?= Lang::str("Supporter") ?> - <?= $selected_user['login_name'] ?>
    </h2>

    <?php foreach ($resources as $key => $value) : ?>
        <form method="POST"
              action="supporters/<?= $URL_params[0] ?>/edit-signature/<?= $value['res_id'] ?>">
            <input type="hidden" name="csrf" value="<?= $csrf ?>" />
            <div class="form-group">
                <label><?= Lang::str("Signature for"); ?><strong> <?= $value['res_name'] ?></strong></label>
                <textarea class = "form-control" name="signature"><?= $signatures[$value['res_id']]['text'] ?></textarea>
            </div>
            <input type="submit" class="btn btn-success btn-sm float-right" value="<?= Lang::str("Update") ?>">
        </form>
    <?php endforeach; ?>
</div>
