<div class="card">
    <h2 class="card-title">
        <?= Lang::str("Supporters") ?>
    </h2>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <td></td>
                    <th><?= Lang::str("Username") ?></th>
                    <th class="hidden-md-and-down"><?= Lang::str("Created") ?></th>
                    <th><?= Lang::str("Departments") ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($supporters as $usr) : ?>
                    <?php $is_admin_for_this_user = false; ?>
                    <tr class="
                    <?php if ($usr['disabled_account'] == 1): ?>
                            table-danger
                        <?php endif; ?>
                        ">
                        <td>
                            <?= ($usr['avatar'] != null ? "<img style=\"max-height: 40px\" src=\"" . $usr['avatar'] . "\"
                                                                   class=\"rounded-circle\" alt=\"Avatar\">" : "" ) ?>
                        </td>
                        <td>
                            <a href="supporters/<?= $usr['user_internal_id'] ?>">
                                <?= $usr['login_name'] ?>
                            </a>
                        </td>

                        <td class="hidden-md-and-down"><?= $usr['timestamp_registered'] ?></td>

                        <td>
                            <?= $usr['DEP_count'] ?></a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>

        </table>
    </div>
</div>
