<div class="card">
    <h2 class="card-title">
        <?= Lang::str("Ticket types") ?>
    </h2>
    <a href="types/repair_rights" class="btn btn-secondary btn-sm"><?= Lang::str("Repair rights"); ?></a>
    <?= $_table ?>
</div>
