<div class="content">
    <a href="user-tickets" class="btn btn-secondary float-right"><?= Lang::str("Go to my tickets overview"); ?></a>
    <h2 class="content-title">
        <?= Lang::str("Create new ticket") ?>
    </h2>
    <div class="d-md-flex justify-content-center" id="new_ticket">

        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="card " style="
                 padding-bottom: 40px;
                 ">
                     <?= $_form ?>
            </div>
        </div>
    </div>
</div>
<script>
    function changeRes(e) {
        window.location = "user-tickets/new/" + e.selectedOptions[0].value
    }
    var issues = <?= json_encode($_issues); ?>;
    var new_ticket_part = document.getElementById("new_ticket")
    var issue_added = false
    function changeType(e) {
        var requestedType = e.selectedOptions[0].value
        if (issue_added) {
            new_ticket_part.removeChild(issues_part)
            issue_added = false
        }
        prepareIssue(requestedType)
    }
    function firstType() {
        let selected_type = document.getElementById("type")
        console.log(selected_type)
        prepareIssue(selected_type.selectedOptions[0].value)
    }
    function prepareIssue(requestedType) {
        console.log(requestedType)
        for (var issue in issues) {
            var test = JSON.parse(issues[issue].issues_types)
            for (var type in test) {
                if (test[type] == requestedType) {
                    addIssue(issues[issue])
                }
            }
        }
    }
    function addIssue(iss) {
        if (!issue_added) {
            let node = document.createElement("div")
            node.className = "col-lg-3 col-md-3 col-sm-12"
            node.id = "issues_part"
            new_ticket_part.append(node)
            issue_added = true
        }
        let issue_position = document.getElementById("issues_part")
        let node = document.createElement("div")
        node.className = "card"
        node.innerHTML = iss.text
        issue_position.append(node)
    }

    firstType()
</script>

