<div class="card">
    <div class="row row-eq-spacing mb-5 mt-10">
        <div class="col">
            <h2 class="card-title">
                <i class="fas fa-envelope-open-text"></i>
                <?= Lang::str("My open tickets") ?>
            </h2>
        </div>
        <div class="col text-right">
            <a href="user-tickets/new" class="btn btn-success"><?= Lang::str("Create new ticket"); ?></a>
        </div>
    </div>

    <div class = "table-responsive">
        <table class = "table">
            <thead>
                <tr>
                    <th><?= Lang::str("Subject") ?></th>
                    <th><?= Lang::str("Status") ?></th>
                    <th><?= Lang::str("Type") ?></th>
                    <th class="hidden-md-and-down"><?= Lang::str("Last post") ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($tickets as $key => $ticket) : ?>
                    <?php
                    if (!in_array($ticket['ticket_status'], array("open", "answered"))) {
                        $tickets_closed[] = $ticket;
                        continue;
                    }
                    ?>
                    <tr>
                        <th>
                            <a href="user-tickets/<?= $ticket['ticket_id'] ?>">
                                <?= $ticket['ticket_subject'] ?>
                            </a>
                        </th>
                        <td><span class="badge <?php if ($ticket['ticket_status'] == 'answered'): ?>
                                      badge-primary
                                  <?php elseif (in_array($ticket['ticket_status'], array('closed', "archived"))): ?>
                                      badge-success
                                  <?php elseif (in_array($ticket['ticket_status'], array('pending', "warning"))): ?>
                                      badge-secondary
                                  <?php elseif (($ticket['ticket_status'] == 'open')): ?>
                                      badge-danger
                                  <?php endif; ?>"
                                  ><?= $ticket['ticket_status'] ?></span></td>
                        <td><?= $ticket['res_name'] ?> /
                            <?= $ticket['type_name'] ?></td>
                        <td class="hidden-md-and-down"><?= $ticket['ticket_last_post_time'] ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <div class="row row-eq-spacing mb-5">
        <div class="col">
            <h2 class="card-title">
                <i class="fas fa-envelope"></i>
                <?= Lang::str("My closed tickets") ?>
            </h2>
        </div>
    </div>
    <div class = "table-responsive">
        <table class = "table">
            <thead>
                <tr>
                    <th><?= Lang::str("Subject") ?></th>
                    <th><?= Lang::str("Status") ?></th>
                    <th><?= Lang::str("Type") ?></th>
                    <th class="hidden-md-and-down"><?= Lang::str("Last post") ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($tickets_closed as $ticket) : ?>
                    <tr>
                        <th>
                            <a href="user-tickets/<?= $ticket['ticket_id'] ?>">
                                <?= $ticket['ticket_subject'] ?>
                            </a>
                        </th>
                        <td><span class="badge <?php if ($ticket['ticket_status'] == 'answered'): ?>
                                      badge-primary
                                  <?php elseif (in_array($ticket['ticket_status'], array('closed', "archived"))): ?>
                                      badge-success
                                  <?php elseif (in_array($ticket['ticket_status'], array('pending', "warning"))): ?>
                                      badge-secondary
                                  <?php elseif (($ticket['ticket_status'] == 'open')): ?>
                                      badge-danger
                                  <?php endif; ?>"
                                  ><?= $ticket['ticket_status'] ?></span></td>
                        <td><?= $ticket['res_name'] ?> /
                            <?= $ticket['type_name'] ?></td>
                        <td class="hidden-md-and-down"><?= $ticket['ticket_last_post_time'] ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
</div>

