<div class="content">
    <h2 class="content-title">
        <?= Lang::str("Ticket") ?> - <?= $ticket['ticket_subject'] ?> - <?= $ticket['res_name'] ?> /
        <?= $ticket['type_name'] ?> - <span class="badge <?php if ($ticket['ticket_status'] == 'answered'): ?>
                    badge-primary
                <?php elseif (in_array($ticket['ticket_status'], array('closed', "archived"))): ?>
                    badge-success
                <?php elseif (in_array($ticket['ticket_status'], array('pending', "warning"))): ?>
                    badge-secondary
                <?php elseif (($ticket['ticket_status'] == 'open')): ?>
                    badge-danger
                <?php endif; ?>"
                ><?= $ticket['ticket_status'] ?></span>
    </h2>
    <a href="user-tickets" class="btn btn-secondary"><?= Lang::str("Go back"); ?></a>
    <?php if (in_array($ticket['ticket_status'], array("open", "answered", "waiting")) && $ticket['ticket_can_be_closed_by_user']): ?>
        <a href="user-tickets/<?= $URL_params[0] ?>/close" class="btn btn-danger float-right">
            <?= Lang::str("Close ticket"); ?></a>
    <?php endif; ?>
    <div class = "row">
        <div class="col order-md-5">
            <?php if ($ticket['ticket_allow_rating']): ?>
                <div class="card text-center">
                    <?= Lang::str(" Please rate our work:") ?>
                    <br>
                    <span class="font-size-16" id="ratings">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <br>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="far fa-star"></i>
                    </span>
                </div>
            <?php endif; ?>
            <div class="card">
                <?php if (in_array($ticket['ticket_status'], array("open", "answered", "pending", "waiting"))): ?>
                    <?= $_reply_form ?>
                <?php else: ?>
                    <span class="badge badge-danger">
                        <?= Lang::str("This ticket has been closed You can not add new reply!") ?>
                    </span>
                <?php endif; ?>
                <br>
            </div>
            <div class="card">
                <?php foreach ($replyes as $key_msg => $msg) : ?>
                    <?php
                    if ($msg['msg_type'] == "user") {
                        $color = "";
                        $head_text = Lang::str("Your message:");
                    } else if ($msg['msg_type'] == "admin") {
                        $color = "success";
                        $head_text = Lang::str("Customer support reply:");
                    } else {
                        continue;
                    }
                    ?>
                    <div class="alert alert-<?= $color ?> text-light-dm my-10" role="alert">
                        <div class="row">
                            <div class="col-md-2 "style="font-size: 1rem;">
                                <p><?= $msg['msg_created'] ?></p>
                                <p style="font-size: 1.2rem;">
                                    <?= StringUtils::time_ago($msg['msg_created']) ?>
                                </p>
                            </div>
                            <div class="col-md-9 offset-1">
                                <h4 class="alert-heading"><?= $head_text ?></h4>
                                <p>
                                    <?=
                                    ($msg['msg_type'] == "user" ?
                                            str_replace("\n", "<br>", $msg['msg_text']) : $_replyes[$key_msg]['msg_text'])
                                    ?>
                                </p>
                            </div>
                        </div>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>

    </div>
</div>


<div class="modal" id="ticket_properties" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <a href="#" class="close" role="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </a>
            <form method="POST" action="tickets/<?= $URL_params[0] ?>/delegate" >
                <h5 id="modal-title" class="modal-title">Modal title</h5>
                <p id="modal-text">
                    <input type="hidden" name="csrf" id="csrf" value="<?= $csrf ?>">
                    <textarea class="form-control" id="comment" name="comment"
                              placeholder="Add delegation note to ticket"></textarea>
                </p>
                <div id="buttons" class="text-right mt-20">
                    <button onclick="halfmoon.toggleModal('ticket_properties')" class="btn mr-5" role="button"><?= Lang::str("Close"); ?></button>
                    <input type="submit"class="btn btn-primary" role="button" value="<?= Lang::str("Delegate"); ?>" />
                </div>
            </form>
        </div>
    </div>
</div>